
@model List<CourceWork.ViewModels.TvshowModel>
@{
    ViewBag.Title = "Телепередачи"; 
    var searchTerm = ViewData["SearchTerm"] as string ?? "";
}

<div class="container">
    <div class="search-bar text-center mb-4 d-flex justify-content-center">
        <form asp-action="Index" method="get" class="d-inline-flex">
            <input type="text" name="searchTerm" id="searchInput"
                   value="@searchTerm"
                   class="form-control-1" placeholder="Введите название шоу" />
            <button id="searchButton" class="btn btn-primary ms-2">
                Поиск
            </button>
        </form>
        <form asp-action="ShowCreation" method="post" class="d-inline-flex ms-2">
            <button type="submit" id="addButton" class="btn btn-success">
                Создать
            </button>
        </form>
    </div>

    <div id="employeeList">
        @if (Model == null || !Model.Any())
        {
            <p>Нет передач для отображения.</p>
        }
        else
        {
            <ul class="list-group">
                @foreach (var tvshow in Model)
                {
                    <li id="employee-@tvshow.tvshow.ShowId" class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="max-wigth">
                            <strong>@tvshow.tvshow.Title </strong> (Жанр: @tvshow.genre.Name,
                            Длительность: @tvshow.tvshow.Duration,
                            Рейтинг: @tvshow.tvshow.Rating,
                            Сотрудники:
                            @if (tvshow.employee.Count > 0)
                            {
                                @foreach (var employee in tvshow.employee)
                                {
                                    <strong>@employee.FullName, </strong>
                                }
                            }
                            else
                            {
                                <strong>Нет сотрудников </strong>
                            }
                            Гости:
                            @if (tvshow.guest.Count > 0)
                            {
                                @foreach (var guest in tvshow.guest)
                                {
                                    <strong>@guest.FullName, </strong>
                                }
                            }
                            else
                            {
                                <strong>Нет гостей </strong>
                            }
                            )
                        </div>
                        <div>
                            <form asp-action="ShowCreation" method="post" style="display:inline;">
                                <input type="hidden" name="modelId" value="@tvshow.tvshow.ShowId" />
                                <button type="submit" class="btn btn-warning btn-sm">
                                    Редактировать
                                </button>
                            </form>
                            <form asp-action="ShowDelete" method="post" style="display:inline;" 
                            onsubmit="return confirm('Вы действительно хотите удалить это шоу? Оно будет удалено из расписания, 
                            все назначенные сотрудники и гости потеряют с ним связь');">
                                <input type="hidden" name="showId" value="@tvshow.tvshow.ShowId" />
                                <button type="submit" class="btn btn-danger btn-sm">
                                    Удалить
                                </button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        }
    </div>
</div>
<style>
    .max-wigth {
        max-width: 80%;
    }
</style>
<script>
    // При загрузке страницы
    window.onload = function () {
        // Получаем значение из localStorage
        var searchTerm = sessionStorage.getItem('searchTerm');
        if (searchTerm) {
            // Устанавливаем значение в поле ввода
            document.getElementById('searchInput').value = searchTerm;
        }
    };

    // Сохраняем значение в localStorage при отправке формы
    document.getElementById('searchButton').onclick = function () {
        var searchTerm = document.getElementById('searchInput').value;
        sessionStorage.setItem('searchTerm', searchTerm);
    };
</script>